---
title: 'Steve Redka'
---

/ About

.container-fluid
  .text-center
    %img.profile-pic{src: "/img/portrait.jpg", width: "200"}/
    %h1 Steve Redka
    %h3 Ruby on Rails developer
    %h5 Dancer/witch also
    .text-center.social-icons
      %a{href: "mailto:cogitofallacy@gmail.com", target: "_blank"}
        %i.far.fa-envelope
      %a{href: "https://github.com/SteveRedka", target: "_blank"}
        %i.fab.fa-github-square


/ Portfolio

/ Tools
